.breath-bar {
  height: 0%;
  transition-timing-function: ease-in-out;
  transition-property: height;
}

.breathe-in {
  transition-duration: 4s;
  transition-delay: 0;
  height: 100%;
}

.breathe-out {
  transition-duration: 6s;
  transition-delay: 0;
  height: 0%;
}