.breath-bar {
  height: 0%;
  transition-timing-function: ease-in-out;
  transition-property: height;
}

.breathe-in {
  transition-duration: 4s;
  transition-delay: 0;
  height: 100%;
}

.breathe-out {
  transition-duration: 6s;
  transition-delay: 0;
  height: 0%;
}

.settings-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: grid;
  background-color: rgba(0,0,0,0.5);
}

.settings {
  margin: auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
}

.d-none {
  display: none;
}