body {
  margin: 0;
  height: 100vh;
}

.breath {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-color: gray;
}

.breath-bar {
  height: 0%;
  transition-timing-function: ease-in-out;
  background-color: blue;
}

.breathe-in {
  transition: height 4s;
  height: 100%;
}

.breathe-out {
  transition: height 6s;
  height: 0%;
}